@tailwind base;
@tailwind components;
@tailwind utilities;

.containerDash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15vh;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.agendamentos {
    width: 100%;
    height: 60vh;
}

.ultimoContato > ul {
    width: 196vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


